<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/static/bootstrap/css/bootstrap.min.css}" />
<title>Insert title here</title>
<style type="text/css">
	#form{
		margin-top:20px;
		margin-left: 50px;
	}
</style>
</head>
<body>
<h2>车辆添加</h2>
	<div id="form">
		<form class="form-horizontal" role="form">
				<!-- 1. 品牌 -->
		  <div class="form-group">
		    <label for="brand" class="col-sm-2 control-label">品牌</label>
		    <div class="col-sm-6">
		      <input type="text" autocomplete="off" name="brand" class="form-control" id="brand" placeholder="品牌">
		    </div>
		  </div>
		  
		  <!-- 2.车系 -->
		  <div class="form-group">
		    <label for="series" class="col-sm-2 control-label">车系</label>
		    <div class="col-sm-6">
		      <input type="text" autocomplete="off" name="series" class="form-control" id="series" placeholder="车系">
		    </div>
		  </div>
		  
		  <!-- 3.价格 -->
		  <div class="form-group">
		    <label for="price" class="col-sm-2 control-label">价格</label>
		    <div class="col-sm-6">
		      <input type="number" autocomplete="off" name="price" class="form-control" id="price" placeholder="价格">
		    </div>
		  </div>
		  
		  <!-- 4.上牌时间 -->
		  <div class="form-group">
		    <label for="licensingTime" class="col-sm-2 control-label">上牌时间</label>
		    <div class="col-sm-6">
		      <input type="text" autocomplete="off" name="licensingTime" class="form-control" id="licensingTime" >
		    </div>
		  </div>
		  
		  <!-- 5.级别 -->
		  <div class="form-group">
		    <label for="level" class="col-sm-2 control-label">级别</label>
		    <div class="col-sm-6">
		      <select class="form-control" name="level" id="level">
		      	
		      </select>
		    </div>
		  </div>
		  
		  <!-- 6.变速箱 -->
		  <div class="form-group">
		    <label for="gearbox" class="col-sm-2 control-label">变速箱</label>
		    <div class="col-sm-6" id ="gearbox">
		      
		      <!-- <label class="radio-inline" >
				  <input type="radio" name="gearbox" value="1"> 
			  </label> -->
			  <!-- <label class="radio-inline">
				  <input type="radio" name="gearbox" value="2"> 
			  </label> -->
		    </div>
		  </div>
		  
		  <!-- 6.排量 -->
		  <div class="form-group">
		    <label for="outputVolume" class="col-sm-2 control-label">排量</label>
		    <div class="col-sm-6">
		      <select class="form-control" name="outputVolume" id="output_volume">
		      	<option value="">xxxx</option>
		      </select>
		    </div>
		  </div>
		  
		  <!-- 7. 里程 -->
		  <div class="form-group">
		    <label for="mileage" class="col-sm-2 control-label">里程（万公里）</label>
		    <div class="col-sm-6">
		      <input type="number" autocomplete="off" name="mileage" class="form-control" id="mileage" placeholder="里程">
		    </div>
		  </div>
		  
		  <!-- 8.归属地 -->
		  <div class="form-group">
		    <label for="location" class="col-sm-2 control-label">归属地</label>
		    <div class="col-sm-6">
		      <input type="text" autocomplete="off" name="location" class="form-control" id="location" placeholder="归属地">
		    </div>
		  </div>
		  
		  <!-- 9.图片 -->
		  <div class="form-group">
		    <label for="file" class="col-sm-2 control-label">图片</label>
		    <div class="col-sm-6">
		      <input type="file" autocomplete="off" name="file" class="form-control" id="file">
		    </div>
		  </div>
		  <!-- 10.归属地 -->
		  <div class="form-group">
		    <label for="summary" class="col-sm-2 control-label">概述</label>
		    <div class="col-sm-6">
		      <textarea rows="3" cols="66" id="summary" name="summary"></textarea>
		    </div>
		  </div>
		 
		 
		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      <button type="submit" class="btn btn-default">Sign in</button>
		    </div>
		  </div>
		</form>
	</div>
	<script th:src="@{/static/js/jquery/jquery-3.4.1.js}"></script>
	<script th:src="@{/static/bootstrap/js/bootstrap.min.js}"></script>
	<script th:inline="javascript">
	const path = /*[[${#request.getContextPath()}]]*/
		$(function () {
			queryLevel("level")
			queryLevel("output_volume")
			queryLevel("gearbox")
		})
		function queryLevel(groupId) {
			$.ajax({
				type:'get',
				url:path+'/dict/'+groupId,
				data:'',
				dataType:'json',
				success:msg=>{
					console.log(msg)
					
					for(let i=0;i<msg.length;i++){
						if(msg[i].groupId=='level'){
							$('#level').append("<option value='"+msg[i].value+"'>"+msg[i].name+"</option>")
						}
						if(msg[i].groupId=='output_volume'){
							$('#output_volume').append("<option value='"+msg[i].value+"'>"+msg[i].name+"</option>")
						}
						if(msg[i].groupId=='gearbox'){
							$('#gearbox').append("<label class='radio-inline' ><input type='radio' name='gearbox' value='"+msg[i].value+"'>"+msg[i].name+"</label>")
						}
					}
				}
			})
		}
	</script>
</body>
</html>